/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* CSS Reset =========================== */
body, nav, section, footer, article,
h1, h2, h3, p, a, ul, li, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
}
/* Typography Defaults ================= */
html {
    font-size: 62.5%;
}
body{
    font: 1.4rem 'Ubuntu', sans-serif;
    line-height: 1.6;
    background: url("images/body.png") no-repeat 50% 80% ;

}

h1{
    margin: 2rem 0 4rem 0;
    float: left;
}
h2{
    font-size: 2.5rem;
    margin: 2rem 0 4rem 0;
    color: #302F33;
}
h3{
    font-size: 1.6rem;
    color: #302F33;
    margin-bottom: 1rem;
}
p{
    margin-bottom: 2rem;
    color: #939697;
}


a{
    display: inline-flex;
    padding: .5rem 1rem;
    color: #eeeeee;
}
strong{
    color: #302F33;
}

/* Default Structure =================== */
nav, body > section, footer{
    max-width: 100rem;
    margin: 0 auto;
    padding: 8rem;

}
body > section{
    border-bottom: 1px solid
    rgba(255,255,255,.1);
}
.clear{
    clear: both;
}

/* Header ============================== */
header{
padding: 0 0 20rem 0;
    background: url("images/header.jpeg") no-repeat 50% 66%;

}

nav li{
    margin:2rem auto;
    padding: 0 .5rem .2rem 1rem;
    display: inline-flex;

}

/* Main ============================== */
#About{
    max-width: 75rem;
    margin: 10rem auto;


}
#About h2{
    font-size: 2.5rem;
    color: #302F33;
    margin: auto;

}
#About li{
    margin: auto;

}
#About h3{
    font-size: 5rem;
    float: right;
    margin:20rem auto;
}

#About img{
    margin: auto;

}
#About p{
    margin: auto;


}

/* Testimonials ================================ */
#Testimonials{
    margin: 20rem auto;
    padding: 0 20rem 0 0;
    width: 50rem;

}


#Testimonials h2{
    font-size: 5rem;
    color: #302F33;
    padding: 5rem;
    margin: auto;
}

#Testimonials a{
    color: #949798;
    margin: auto;

}


/* Team ================================ */
#Team{
    margin: 20rem auto;
    max-width: 100rem;
    background: url("images/body.png");


}

#Team h2{
    font-size: 5rem;
    color: #302F33;
    padding: 5rem;
    margin: 0 5rem 0 0;

}
#Team a{
    color: #302F33;
}

#Team article{
    width: calc(100%/4 - 10rem/4);
    float: left;
}

#Team article:not(:nth-of-type(4)) {
    margin: 0 2rem 5rem 0;
}

/* Footer ================================ */
footer{
    margin:  auto;
    max-width: 100rem;
    padding: 20rem 0 0 0;
    background: url("images/footer.jpeg") no-repeat ;


}
footer li{
    color: #eee;
    display: inline-flex;
}

footer address{
    color: #eeeeee;
}