/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* CSS Reset =========================== */
body, nav, section, footer, article,
h1, h2, h3, p, a, ul, li, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 100%;
    text-decoration: none;
    font-weight: normal;
    color: inherit;
    box-sizing: border-box;
}

/* Typography Defaults ================= */
html {
    font-size: 62.5%;
}

body{
    font: 1.4rem 'Ubuntu', sans-serif;
    line-height: 1.6;
    background: #FFFFFF;
}

h1{
    margin: 2rem 0 4rem 0;
    float: left;
}

h2{
    font-size: 2.5rem;
    margin: 2rem 0 4rem 0;
    color: #302F33;
}

p{
    margin-bottom: 2rem;
    color: #939697;
}

a{
    display: inline-flex;
    padding: .5rem 1rem;
    color: #eeeeee;
}

strong{
    color: #302F33;
}

/* Default Structure =================== */
nav, body > section, footer{
    max-width: 100rem;
    margin: 0 auto;
    padding: 8rem;
}

body > section{
    border-bottom: 1px solid
    rgba(255,255,255,.1);
}

.clear{
    clear: both;
}

/* Header ============================== */

header{
    margin: auto;
    padding: 0 0 20rem 0;
    background: url("../images/header.jpeg") no-repeat 50% 66%;
}

nav li{
    margin:2rem auto;
    padding: 0 .5rem .2rem 1rem;
    display: inline-flex;
}

/* Footer ================================ */
footer{
    margin:  auto;
    max-width: 200rem;
    background: url("../images/footer.jpeg") no-repeat;
}

footer li{
    margin: auto;
    color: #eee;
    display: inline-flex;
}

footer address{
    color: #eeeeee;
}

/* SUBMIT
====================================================================== */

button[type='submit'].disabled {
    cursor: not-allowed;
    opacity: 0.15
}

button[type='submit'] {
    display: block;
    width: 20%;
    padding: 1rem;
    background: #EBC75D;;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.5s;
}

/* clear
====================================================================== */

button[type='reset'].disabled {
    cursor: not-allowed;
    opacity: 0.15
}

button[type='reset'] {
    display: block;
    width: 20%;
    padding: 1rem;
    background: #EBC75D;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.5s;
}

iframe{
    margin: auto;
    display: block;
    max-width: 200rem;
    padding: 10rem;
}

form{
    display: block;
    margin: auto;
    max-width: 75rem;
}

main{
    display: block;
    margin: auto;
    max-width: 50rem;

}



